<a href="https://colab.research.google.com/github/MikeKertesz/Airbnb-Data-Analysis-Project/blob/main/Airbnb_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

# Example with listings.csv
listings = pd.read_csv("listings.csv", low_memory=False)
calendar = pd.read_csv("calendar.csv.gz", compression="gzip")
reviews = pd.read_csv("reviews.csv", low_memory=False)
neighbourhoods = pd.read_csv("neighbourhoods.csv")

In [4]:
listings.info()
listings.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18927 entries, 0 to 18926
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              18927 non-null  int64
 1   name                            18927 non-null  object
 2   host_id                         18927 non-null  int64
 3   host_name                       18924 non-null  object
 4   neighbourhood_group             18927 non-null  object
 5   neighbourhood                   18927 non-null  object
 6   latitude                        18927 non-null  float64
 7   longitude                       18927 non-null  float64
 8   room_type                       18927 non-null  object
 9   price                           14913 non-null  float64
 10  minimum_nights                  18927 non-null  int64
 11  number_of_reviews               18927 non-null  int64
 12  last_review                     13929 non-null  object
 13  reviews_per_month               13929 non-null  float64
 14  calculated_host_listings_count  18927 non-null  int64
 15  availability_365                18927 non-null  int64
 16  number_of_reviews_ltm           18927 non-null  int64
 17  license                         12598 non-null  object
dtypes: float64(4), int64(7), object(7)
memory usage: 2.6+ MB

id                                   0
name                                 0
host_id                              0
host_name                            3
neighbourhood_group                  0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                             4014
minimum_nights                       0
number_of_reviews                    0
last_review                       4998
reviews_per_month                 4998
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
license                           6329
dtype: int64

In [8]:
listings_clean = listings.dropna(subset=['price'])

In [10]:
listings_clean = listings_clean.dropna(subset=['host_name'])

In [12]:
listings_clean['reviews_per_month'] = listings_clean['reviews_per_month'].fillna(0)

In [14]:
listings_clean = listings_clean.drop(columns=['license'])

In [15]:
listings_clean['last_review'] = listings_clean['last_review'].fillna('No review')

In [16]:
listings_clean.info()
listings_clean.isna().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 14912 entries, 0 to 18926
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              14912 non-null  int64
 1   name                            14912 non-null  object
 2   host_id                         14912 non-null  int64
 3   host_name                       14912 non-null  object
 4   neighbourhood_group             14912 non-null  object
 5   neighbourhood                   14912 non-null  object
 6   latitude                        14912 non-null  float64
 7   longitude                       14912 non-null  float64
 8   room_type                       14912 non-null  object
 9   price                           14912 non-null  float64
 10  minimum_nights                  14912 non-null  int64
 11  number_of_reviews               14912 non-null  int64
 12  last_review                     14912 non-null  object
 13  reviews_per_month               14912 non-null  float64
 14  calculated_host_listings_count  14912 non-null  int64
 15  availability_365                14912 non-null  int64
 16  number_of_reviews_ltm           14912 non-null  int64
dtypes: float64(4), int64(7), object(6)
memory usage: 2.0+ MB

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
number_of_reviews_ltm             0
dtype: int64

In [17]:
calendar.info()
calendar.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2303883 entries, 0 to 2303882
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           float64
 4   adjusted_price  float64
 5   minimum_nights  int64
 6   maximum_nights  int64
dtypes: float64(2), int64(3), object(2)
memory usage: 123.0+ MB

listing_id              0
date                    0
available               0
price             2303883
adjusted_price    2303883
minimum_nights          0
maximum_nights          0
dtype: int64

In [25]:
calendar_clean = calendar.drop(columns=['price','adjusted_price'])

In [26]:
calendar_clean.info()
calendar_clean.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2303883 entries, 0 to 2303882
Data columns (total 5 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   minimum_nights  int64
 4   maximum_nights  int64
dtypes: int64(3), object(2)
memory usage: 87.9+ MB

listing_id        0
date              0
available         0
minimum_nights    0
maximum_nights    0
dtype: int64

In [27]:
reviews.info()
reviews.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 973243 entries, 0 to 973242
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   listing_id  973243 non-null  int64
 1   date        973243 non-null  object
dtypes: int64(1), object(1)
memory usage: 14.9+ MB

listing_id    0
date          0
dtype: int64

In [28]:
neighbourhoods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   neighbourhood_group  73 non-null     object
 1   neighbourhood        73 non-null     object
dtypes: object(2)
memory usage: 1.3+ KB

In [32]:
listings_clean.to_csv("clean_listings.csv", index=False)
calendar_clean.to_csv("clean_calendar.csv", index=False)